@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

:not(pre) > code {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 2px 4px;
  margin: 2px;
}

pre {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  margin: 1em 0em;
  padding: 1em
}

table {
  margin: 1em 0;
  text-align: left;
  border: rgba(255,255,255,0.05) solid;
  border-radius: 8px;
  background: rgba(255,255,255,0.05);
}

a[href] {
  color: #70b1ff;
  font-weight: 500;
}

th, td {
  padding: 4px, 8px;
}